In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import tree
import xgboost as xgb
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn import metrics 
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('C:/Users/sangkyu/git/kaggle/titanic/input/train.csv').set_index('PassengerId')
test = pd.read_csv('C:/Users/sangkyu/git/kaggle/titanic/input/test.csv').set_index('PassengerId')

In [3]:
# train과 test를 합쳐서 feature engineering을 진행하면 나중에 overfitting이 일어날 확률이 높다.
# 이건 나중에 다시 생각 해봐야겠다. 일단 이렇게 합칠래..
# testset도 trainset과 똑같이 전처리를 해주어야 하기 때문에 묶었다.
df = pd.concat([train, test], axis=0, sort=False)

In [4]:
# Name 컬럼을 보면 이름은 first,middle,last 순으로 나누어져있다. ','와'.'을 기준으로 middle name을 추출하자
df['Title'] = df.Name.str.split(',').str[1].str.split('.').str[0].str.strip()

In [5]:
# 여자와 Title이 Master인 소년들을 새로운 Column으로 만들었음
df['IsWomanOrChild'] = ((df.Title == 'Master') | (df.Sex == 'female'))

In [6]:
df['LastName'] = df.Name.str.split(',').str[0]

In [7]:
# family에는 LastName이 같은 사람들의 생존여부가 들어있다.
family = df.groupby(df['LastName']).Survived

In [8]:
for name, group in family:
    print(name)
    print(group)
    print('\n')

Abbing
PassengerId
846    0.0
Name: Survived, dtype: float64


Abbott
PassengerId
280     1.0
747     0.0
1284    NaN
Name: Survived, dtype: float64


Abelseth
PassengerId
949    NaN
1237   NaN
Name: Survived, dtype: float64


Abelson
PassengerId
309    0.0
875    1.0
Name: Survived, dtype: float64


Abrahamsson
PassengerId
1143   NaN
Name: Survived, dtype: float64


Abrahim
PassengerId
900   NaN
Name: Survived, dtype: float64


Adahl
PassengerId
366    0.0
Name: Survived, dtype: float64


Adams
PassengerId
402    0.0
Name: Survived, dtype: float64


Ahlin
PassengerId
41    0.0
Name: Survived, dtype: float64


Aks
PassengerId
856     1.0
1199    NaN
Name: Survived, dtype: float64


Albimona
PassengerId
208    1.0
Name: Survived, dtype: float64


Aldworth
PassengerId
970   NaN
Name: Survived, dtype: float64


Alexander
PassengerId
811    0.0
Name: Survived, dtype: float64


Alhomaki
PassengerId
841    0.0
Name: Survived, dtype: float64


Ali
PassengerId
211    0.0
785    0.0
Name: Survived, dtype: float64


Allen
PassengerId
5      0.0
731    1.0
Name: Survived, dtype: float64


Allison
PassengerId
298     0.0
306     1.0
499     0.0
1198    NaN
Name: Survived, dtype: float64


Allum
PassengerId
835    0.0
Name: Survived, dtype: float64


Andersen
PassengerId
1102   NaN
Name: Survived, dtype: float64


Andersen-Jensen
PassengerId
193    1.0
Name: Survived, dtype: float64


Anderson
PassengerId
461    1.0
Name: Survived, dtype: float64


Andersson
PassengerId
14      0.0
69      1.0
120     0.0
147     1.0
542     0.0
543     0.0
611     0.0
814     0.0
851     0.0
1106    NaN
1212    NaN
Name: Survived, dtype: float64


Andreasson
PassengerId
92    0.0
Name: Survived, dtype: float64


Andrew
PassengerId
145     0.0
1096    NaN
Name: Survived, dtype: float64


Andrews
PassengerId
276    1.0
807    0.0
Name: Survived, dtype: float64


Angheloff
PassengerId
1187   NaN
Name: Survived, dtype: float64


Angle
PassengerId
519     1.0
1082    NaN
Name: Survived, dtype: float64


Appleton
PassengerId
572    1.0
Name: Survived, dtype: float64


Arnold-Franchi
PassengerId
50     0.0
354    0.0
Name: Survived, dtype: float64


Aronsson
PassengerId
1278   NaN
Name: Survived, dtype: float64


Artagaveytia
PassengerId
494    0.0
Name: Survived, dtype: float64


Ashby
PassengerId
1279   NaN
Name: Survived, dtype: float64


Asim
PassengerId
364    0.0
Name: Survived, dtype: float64


Asplund
PassengerId
26      1.0
183     0.0
234     1.0
262     1.0
1046    NaN
1066    NaN
1118    NaN
1271    NaN
Name: Survived, dtype: float64


Assaf
PassengerId
909   NaN
Name: Survived, dtype: float64


Assaf Khalil
PassengerId
911   NaN
Name: Survived, dtype: float64


Assam
PassengerId
1217   NaN
Name: Survived, dtype: float64


Astor
PassengerId
701     1.0
1094    NaN
Name: Survived, dtype: float64


Attalah
PassengerId
115    0.0
245    0.0
Name: Survived, dtype: float64


Aubart
PassengerId
370    1.0
Name: Survived, dtype: float64


Augustsson
PassengerId
834    0.0
Name: Survived, dtype: float64


Ayoub
PassengerId
781    1.0
Name: Survived, dtype: float64


Baccos
PassengerId
1129   NaN
Name: Survived, dtype: float64


Backstrom
PassengerId
86     1.0
207    0.0
Name: Survived, dtype: float64


Baclini
PassengerId
449    1.0
470    1.0
645    1.0
859    1.0
Name: Survived, dtype: float64


Badman
PassengerId
979   NaN
Name: Survived, dtype: float64


Badt
PassengerId
662    0.0
Name: Survived, dtype: float64


Bailey
PassengerId
758    0.0
Name: Survived, dtype: float64


Baimbrigge
PassengerId
1090   NaN
Name: Survived, dtype: float64


Balkic
PassengerId
871    0.0
Name: Survived, dtype: float64


Ball
PassengerId
328    1.0
Name: Survived, dtype: float64


Banfield
PassengerId
884    0.0
Name: Survived, dtype: float64


Barah
PassengerId
763    1.0
Name: Survived, dtype: float64


Barbara
PassengerId
363    0.0
703    0.0
Name: Survived, dtype: float64


Barber
PassengerId
291    1.0
Name: Survived, dtype: float64


Barkworth
PassengerId
631    1.0
Name: Survived, dtype: float64


Barry
PassengerId
978   NaN
Name: Survived, dtype: float64


Barton
PassengerId
113    0.0
Name: Survived, dtype: float64


Bateman
PassengerId
151    0.0
Name: Survived, dtype: float64


Baumann
PassengerId
169    0.0
Name: Survived, dtype: float64


Baxter
PassengerId
119    0.0
300    1.0
Name: Survived, dtype: float64


Bazzani
PassengerId
219    1.0
Name: Survived, dtype: float64


Beane
PassengerId
544    1.0
547    1.0
Name: Survived, dtype: float64


Beattie
PassengerId
1010   NaN
Name: Survived, dtype: float64


Beauchamp
PassengerId
1035   NaN
Name: Survived, dtype: float64


Beavan
PassengerId
373    0.0
Name: Survived, dtype: float64


Becker
PassengerId
184     1.0
619     1.0
1070    NaN
1218    NaN
Name: Survived, dtype: float64


Beckwith
PassengerId
249    1.0
872    1.0
Name: Survived, dtype: float64


Beesley
PassengerId
22    1.0
Name: Survived, dtype: float64


Behr
PassengerId
890    1.0
Name: Survived, dtype: float64


Bengtsson
PassengerId
163    0.0
Name: Survived, dtype: float64


Bentham
PassengerId
1150   NaN
Name: Survived, dtype: float64


Berglund
PassengerId
226    0.0
Name: Survived, dtype: float64


Berriman
PassengerId
734    0.0
Name: Survived, dtype: float64


Betros
PassengerId
379     0.0
1231    NaN
Name: Survived, dtype: float64


Bidois
PassengerId
381    1.0
Name: Survived, dtype: float64


Bing
PassengerId
75    1.0
Name: Survived, dtype: float64


Bird
PassengerId
1048   NaN
Name: Survived, dtype: float64


Birkeland
PassengerId
409    0.0
Name: Survived, dtype: float64


Birnbaum
PassengerId
986   NaN
Name: Survived, dtype: float64


Bishop
PassengerId
292    1.0
485    1.0
Name: Survived, dtype: float64


Bissette
PassengerId
270    1.0
Name: Survived, dtype: float64


Bjorklund
PassengerId
954   NaN
Name: Survived, dtype: float64


Bjornstrom-Steffansson
PassengerId
431    1.0
Name: Survived, dtype: float64


Blackwell
PassengerId
340    0.0
Name: Survived, dtype: float64


Blank
PassengerId
210    1.0
Name: Survived, dtype: float64


Bonnell
PassengerId
12      1.0
1292    NaN
Name: Survived, dtype: float64


Borebank
PassengerId
1050   NaN
Name: Survived, dtype: float64


Bostandyeff
PassengerId
629    0.0
Name: Survived, dtype: float64


Botsford
PassengerId
1238   NaN
Name: Survived, dtype: float64


Boulos
PassengerId
141    0.0
599    0.0
853    0.0
972    NaN
Name: Survived, dtype: float64


Bourke
PassengerId
189    0.0
594    0.0
658    0.0
Name: Survived, dtype: float64


Bowen
PassengerId
625     0.0
1267    NaN
Name: Survived, dtype: float64


Bowenur
PassengerId
1020   NaN
Name: Survived, dtype: float64


Bowerman
PassengerId
357    1.0
Name: Survived, dtype: float64


Bracken
PassengerId
222    0.0
Name: Survived, dtype: float64


Bradley
PassengerId
508    1.0
955    NaN
Name: Survived, dtype: float64


Brady
PassengerId
920   NaN
Name: Survived, dtype: float64


Braf
PassengerId
990   NaN
Name: Survived, dtype: float64


Brandeis
PassengerId
1058   NaN
Name: Survived, dtype: float64


Braund
PassengerId
1      0.0
478    0.0
Name: Survived, dtype: float64


Brewe
PassengerId
767    0.0
Name: Survived, dtype: float64


Brobeck
PassengerId
1018   NaN
Name: Survived, dtype: float64


Brocklebank
PassengerId
615    0.0
Name: Survived, dtype: float64


Brown
PassengerId
195     1.0
346     1.0
671     1.0
685     0.0
1067    NaN
1248    NaN
Name: Survived, dtype: float64


Bryhl
PassengerId
729     0.0
1167    NaN
Name: Survived, dtype: float64


Buckley
PassengerId
998    NaN
1005   NaN
Name: Survived, dtype: float64


Bucknell
PassengerId
940   NaN
Name: Survived, dtype: float64


Burke
PassengerId
144    0.0
Name: Survived, dtype: float64


Burns
PassengerId
338    1.0
958    NaN
Name: Survived, dtype: float64


Buss
PassengerId
388    1.0
Name: Survived, dtype: float64


Butler
PassengerId
667    0.0
Name: Survived, dtype: float64


Butt
PassengerId
537    0.0
Name: Survived, dtype: float64


Byles
PassengerId
150    0.0
Name: Survived, dtype: float64


Bystrom
PassengerId
866    1.0
Name: Survived, dtype: float64


Cacic
PassengerId
472     0.0
535     0.0
929     NaN
1202    NaN
Name: Survived, dtype: float64


Cairns
PassengerId
271    0.0
Name: Survived, dtype: float64


Calderhead
PassengerId
708    1.0
Name: Survived, dtype: float64


Caldwell
PassengerId
79     1.0
324    1.0
899    NaN
Name: Survived, dtype: float64


Calic
PassengerId
164    0.0
501    0.0
Name: Survived, dtype: float64


Cameron
PassengerId
212    1.0
Name: Survived, dtype: float64


Campbell
PassengerId
467    0.0
Name: Survived, dtype: float64


Canavan
PassengerId
502     0.0
1280    NaN
Name: Survived, dtype: float64


Candee
PassengerId
1116   NaN
Name: Survived, dtype: float64


Cann
PassengerId
38    0.0
Name: Survived, dtype: float64


Caram
PassengerId
579     0.0
1258    NaN
Name: Survived, dtype: float64


Carbines
PassengerId
192    0.0
Name: Survived, dtype: float64


Cardeza
PassengerId
680     1.0
1235    NaN
Name: Survived, dtype: float64


Carlsson
PassengerId
757     0.0
873     0.0
1027    NaN
Name: Survived, dtype: float64


Carr
PassengerId
209     1.0
1205    NaN
Name: Survived, dtype: float64


Carrau
PassengerId
84      0.0
1295    NaN
Name: Survived, dtype: float64


Carter
PassengerId
250    0.0
391    1.0
436    1.0
764    1.0
803    1.0
855    0.0
Name: Survived, dtype: float64


Carver
PassengerId
1015   NaN
Name: Survived, dtype: float64


Case
PassengerId
974   NaN
Name: Survived, dtype: float64


Cassebeer
PassengerId
1060   NaN
Name: Survived, dtype: float64


Cavendish
PassengerId
742    0.0
988    NaN
Name: Survived, dtype: float64


Celotti
PassengerId
90    0.0
Name: Survived, dtype: float64


Chaffee
PassengerId
93     0.0
906    NaN
Name: Survived, dtype: float64


Chambers
PassengerId
725    1.0
810    1.0
Name: Survived, dtype: float64


Chapman
PassengerId
595     0.0
696     0.0
1011    NaN
Name: Survived, dtype: float64


Charters
PassengerId
422    0.0
Name: Survived, dtype: float64


Chaudanson
PassengerId
951   NaN
Name: Survived, dtype: float64


Cherry
PassengerId
258    1.0
Name: Survived, dtype: float64


Chevre
PassengerId
938   NaN
Name: Survived, dtype: float64


Chibnall
PassengerId
167    1.0
Name: Survived, dtype: float64


Chip
PassengerId
839    1.0
Name: Survived, dtype: float64


Chisholm
PassengerId
1158   NaN
Name: Survived, dtype: float64


Christmann
PassengerId
91    0.0
Name: Survived, dtype: float64


Christy
PassengerId
581     1.0
1133    NaN
Name: Survived, dtype: float64


Chronopoulos
PassengerId
74      0.0
1007    NaN
Name: Survived, dtype: float64


Clark
PassengerId
1144   NaN
1164   NaN
Name: Survived, dtype: float64


Clarke
PassengerId
427     1.0
1220    NaN
Name: Survived, dtype: float64


Cleaver
PassengerId
709    1.0
Name: Survived, dtype: float64


Clifford
PassengerId
476    0.0
Name: Survived, dtype: float64


Coelho
PassengerId
132    0.0
Name: Survived, dtype: float64


Cohen
PassengerId
205    1.0
Name: Survived, dtype: float64


Colbert
PassengerId
1288   NaN
Name: Survived, dtype: float64


Coleff
PassengerId
515    0.0
664    0.0
Name: Survived, dtype: float64


Coleridge
PassengerId
243    0.0
Name: Survived, dtype: float64


Collander
PassengerId
343    0.0
Name: Survived, dtype: float64


Collett
PassengerId
1099   NaN

Name: Survived, dtype: float64


Colley
PassengerId
663    0.0
Name: Survived, dtype: float64


Collyer
PassengerId
238    1.0
638    0.0
802    1.0
Name: Survived, dtype: float64


Compton
PassengerId
836     1.0
1071    NaN
1073    NaN
Name: Survived, dtype: float64


Conlon
PassengerId
1291   NaN
Name: Survived, dtype: float64


Connaghton
PassengerId
750    0.0
Name: Survived, dtype: float64


Connolly
PassengerId
290    1.0
898    NaN
Name: Survived, dtype: float64


Connors
PassengerId
117    0.0
Name: Survived, dtype: float64


Cook
PassengerId
669     0.0
1114    NaN
Name: Survived, dtype: float64


Cor
PassengerId
647     0.0
948     NaN
1226    NaN
Name: Survived, dtype: float64


Corbett
PassengerId
935   NaN
Name: Survived, dtype: float64


Corey
PassengerId
957   NaN
Name: Survived, dtype: float64


Corn
PassengerId
158    0.0
Name: Survived, dtype: float64


Cornell
PassengerId
969   NaN
Name: Survived, dtype: float64


Cotterill
PassengerId
1269   NaN
Name: Survived, dtype: float64


Coutts
PassengerId
349    1.0
490    1.0
941    NaN
Name: Survived, dtype: float64


Coxon
PassengerId
95    0.0
Name: Survived, dtype: float64


Crafton
PassengerId
1040   NaN
Name: Survived, dtype: float64


Crease
PassengerId
68    0.0
Name: Survived, dtype: float64


Cribb
PassengerId
161     0.0
1017    NaN
Name: Survived, dtype: float64


Crosby
PassengerId
541     1.0
746     0.0
1197    NaN
Name: Survived, dtype: float64


Culumovic
PassengerId
845    0.0
Name: Survived, dtype: float64


Cumings
PassengerId
2       1.0
1126    NaN
Name: Survived, dtype: float64


Cunningham
PassengerId
414    0.0
Name: Survived, dtype: float64


Daher
PassengerId
919   NaN
Name: Survived, dtype: float64


Dahl
PassengerId
339    1.0
Name: Survived, dtype: float64


Dahlberg
PassengerId
883    0.0
Name: Survived, dtype: float64


Dakic
PassengerId
688    0.0
Name: Survived, dtype: float64


Daly
PassengerId
511     1.0
858     1.0
1183    NaN
Name: Survived, dtype: float64


Danbom
PassengerId
424     0.0
617     0.0
1093    NaN
Name: Survived, dtype: float64


Daniel
PassengerId
608    1.0
Name: Survived, dtype: float64


Daniels
PassengerId
1033   NaN
Name: Survived, dtype: float64


Danoff
PassengerId
322    0.0
Name: Survived, dtype: float64


Dantcheff
PassengerId
795    0.0
Name: Survived, dtype: float64


Davidson
PassengerId
672    0.0
984    NaN
Name: Survived, dtype: float64


Davies
PassengerId
386     0.0
550     1.0
566     0.0
901     NaN
1039    NaN
1079    NaN
1222    NaN
Name: Survived, dtype: float64


Davis
PassengerId
636    1.0
Name: Survived, dtype: float64


Davison
PassengerId
348    1.0
950    NaN
Name: Survived, dtype: float64


Deacon
PassengerId
1104   NaN
Name: Survived, dtype: float64


Dean
PassengerId
94      0.0
789     1.0
924     NaN
1246    NaN
Name: Survived, dtype: float64


Delalic
PassengerId
1101   NaN
Name: Survived, dtype: float64


Demetri
PassengerId
975   NaN
Name: Survived, dtype: float64


Denbury
PassengerId
1230   NaN
Name: Survived, dtype: float64


Denkoff
PassengerId
336    0.0
Name: Survived, dtype: float64


Dennis
PassengerId
321     0.0
1177    NaN
Name: Survived, dtype: float64


Devaney
PassengerId
45    1.0
Name: Survived, dtype: float64


Dibden
PassengerId
1244   NaN
Name: Survived, dtype: float64


Dick
PassengerId
691    1.0
782    1.0
Name: Survived, dtype: float64


Dika
PassengerId
952   NaN
Name: Survived, dtype: float64


Dimic
PassengerId
350    0.0
Name: Survived, dtype: float64


Dintcheff
PassengerId
1026   NaN
Name: Survived, dtype: float64


Dodge
PassengerId
446     1.0
1185    NaN
1266    NaN
Name: Survived, dtype: float64


Doharr
PassengerId
569    0.0
Name: Survived, dtype: float64


Doling
PassengerId
99     1.0
652    1.0
Name: Survived, dtype: float64


Dooley
PassengerId
891    0.0
Name: Survived, dtype: float64


Dorking
PassengerId
284    1.0
Name: Survived, dtype: float64


Douglas
PassengerId
545     0.0
1076    NaN
1131    NaN
Name: Survived, dtype: float64


Dowdell
PassengerId
80    1.0
Name: Survived, dtype: float64


Downton
PassengerId
583    0.0
Name: Survived, dtype: float64


Doyle
PassengerId
971   NaN
Name: Survived, dtype: float64


Drapkin
PassengerId
1030   NaN
Name: Survived, dtype: float64


Drazenoic
PassengerId
131    0.0
Name: Survived, dtype: float64


Drew
PassengerId
417     1.0
1086    NaN
1139    NaN
Name: Survived, dtype: float64


Duane
PassengerId
281    0.0
Name: Survived, dtype: float64


Duff Gordon
PassengerId
557    1.0
600    1.0
Name: Survived, dtype: float64


Dulles
PassengerId
1223   NaN
Name: Survived, dtype: float64


Duquemin
PassengerId
1047   NaN
Name: Survived, dtype: float64


Duran y More
PassengerId
867     1.0
1112    NaN
Name: Survived, dtype: float64


Dyker
PassengerId
982    NaN
1064   NaN
Name: Survived, dtype: float64


Earnshaw
PassengerId
1042   NaN
Name: Survived, dtype: float64


Edvardsson
PassengerId
676    0.0
Name: Survived, dtype: float64


Eitemiller
PassengerId
659    0.0
Name: Survived, dtype: float64


Eklund
PassengerId
765    0.0
Name: Survived, dtype: float64


Ekstrom
PassengerId
130    0.0
Name: Survived, dtype: float64


Elias
PassengerId
353     0.0
533     0.0
774     0.0
1229    NaN
Name: Survived, dtype: float64


Elsbury
PassengerId
593    0.0
Name: Survived, dtype: float64


Emanuel
PassengerId
778    1.0
Name: Survived, dtype: float64


Emir
PassengerId
27    0.0
Name: Survived, dtype: float64


Enander
PassengerId
1221   NaN
Name: Survived, dtype: float64


Endres
PassengerId
717    1.0
Name: Survived, dtype: float64


Eustis
PassengerId
497    1.0
Name: Survived, dtype: float64


Evans
PassengerId
1004   NaN
Name: Survived, dtype: float64


Everett
PassengerId
1120   NaN
Name: Survived, dtype: float64


Fahlstrom
PassengerId
229    0.0
Name: Survived, dtype: float64


Farrell
PassengerId
526    0.0
Name: Survived, dtype: float64


Farthing
PassengerId
528    0.0
Name: Survived, dtype: float64


Faunthorpe
PassengerId
54      1.0
1169    NaN
Name: Survived, dtype: float64


Fillbrook
PassengerId
1232   NaN
Name: Survived, dtype: float64


Finoli
PassengerId
1103   NaN
Name: Survived, dtype: float64


Fischer
PassengerId
689    0.0
Name: Survived, dtype: float64


Flegenheim
PassengerId
914   NaN
Name: Survived, dtype: float64


Fleming
PassengerId
307     1.0
1174    NaN
Name: Survived, dtype: float64


Flynn
PassengerId
429    0.0
573    1.0
826    0.0
Name: Survived, dtype: float64


Foley
PassengerId
994    NaN
1273   NaN
Name: Survived, dtype: float64


Foo
PassengerId
644    1.0
Name: Survived, dtype: float64


Ford
PassengerId
87      0.0
148     0.0
437     0.0
737     0.0
1059    NaN
1181    NaN
Name: Survived, dtype: float64


Foreman
PassengerId
453    0.0
Name: Survived, dtype: float64


Fortune
PassengerId
28     0.0
89     1.0
342    1.0
439    0.0
945    NaN
961    NaN
Name: Survived, dtype: float64


Fox
PassengerId
345     0.0
1163    NaN
Name: Survived, dtype: float64


Francatelli
PassengerId
310    1.0
Name: Survived, dtype: float64


Franklin
PassengerId
933    NaN
1178   NaN
Name: Survived, dtype: float64


Frauenthal
PassengerId
335     1.0
661     1.0
1296    NaN
Name: Survived, dtype: float64


Frolicher
PassengerId
540    1.0
Name: Survived, dtype: float64


Frolicher-Stehli
PassengerId
588     1.0
1289    NaN
Name: Survived, dtype: float64


Frost
PassengerId
482    0.0
Name: Survived, dtype: float64


Fry
PassengerId
816    0.0
Name: Survived, dtype: float64


Funk
PassengerId
358    0.0
Name: Survived, dtype: float64


Futrelle
PassengerId
4      1.0
138    0.0
Name: Survived, dtype: float64


Fynney
PassengerId
21    0.0
Name: Survived, dtype: float64


Gale
PassengerId
406     0.0
1293    NaN
Name: Survived, dtype: float64


Gallagher
PassengerId
704    0.0
Name: Survived, dtype: float64


Garfirth
PassengerId
761    0.0
Name: Survived, dtype: float64


Garside
PassengerId
577    1.0
Name: Survived, dtype: float64


Gaskell
PassengerId
792    0.0
Name: Survived, dtype: float64


Gavey
PassengerId
620    0.0
Name: Survived, dtype: float64


Gee
PassengerId
463    0.0
Name: Survived, dtype: float64


Geiger
PassengerId
966   NaN
Name: Survived, dtype: float64


Gheorgheff
PassengerId
421    0.0
Name: Survived, dtype: float64


Gibson
PassengerId
1260   NaN
1294   NaN
Name: Survived, dtype: float64


Giglio
PassengerId
140    0.0
Name: Survived, dtype: float64


Gilbert
PassengerId
1285   NaN
Name: Survived, dtype: float64


Giles
PassengerId
862     0.0
1240    NaN
1262    NaN
Name: Survived, dtype: float64


Gilinski
PassengerId
589    0.0
Name: Survived, dtype: float64


Gill
PassengerId
865    0.0
Name: Survived, dtype: float64


Gillespie
PassengerId
723    0.0
Name: Survived, dtype: float64


Gilnagh
PassengerId
157    1.0
Name: Survived, dtype: float64


Givard
PassengerId
214    0.0
Name: Survived, dtype: float64


Glynn
PassengerId
33    1.0
Name: Survived, dtype: float64


Goldenberg
PassengerId
454    1.0
850    1.0
Name: Survived, dtype: float64


Goldschmidt
PassengerId
97    0.0
Name: Survived, dtype: float64


Goldsmith
PassengerId
166    1.0
329    1.0
549    0.0
934    NaN
Name: Survived, dtype: float64


Goncalves
PassengerId
466    0.0
Name: Survived, dtype: float64


Goodwin
PassengerId
60      0.0
72      0.0
387     0.0
481     0.0
679     0.0
684     0.0
1031    NaN
1032    NaN
Name: Survived, dtype: float64


Gracie
PassengerId
1023   NaN
Name: Survived, dtype: float64


Graham
PassengerId
269    1.0
333    0.0
888    1.0
Name: Survived, dtype: float64


Green
PassengerId
223    0.0
Name: Survived, dtype: float64


Greenberg
PassengerId
715    0.0
Name: Survived, dtype: float64


Greenfield
PassengerId
98      1.0
1242    NaN
Name: Survived, dtype: float64


Gronnestad
PassengerId
770    0.0
Name: Survived, dtype: float64


Guest
PassengerId
985   NaN
Name: Survived, dtype: float64


Guggenheim
PassengerId
790    0.0
Name: Survived, dtype: float64


Gustafsson
PassengerId
105    0.0
380    0.0
393    0.0
877    0.0
Name: Survived, dtype: float64


Haas
PassengerId
294    0.0
Name: Survived, dtype: float64


Hagardon
PassengerId
1207   NaN
Name: Survived, dtype: float64


Hagland
PassengerId
452    0.0
491    0.0
Name: Survived, dtype: float64


Hakkarainen
PassengerId
143    1.0
404    0.0
Name: Survived, dtype: float64


Hale
PassengerId
179    0.0
Name: Survived, dtype: float64


Hamalainen
PassengerId
248    1.0
756    1.0
Name: Survived, dtype: float64


Hampe
PassengerId
442    0.0
Name: Survived, dtype: float64


Hanna
PassengerId
297    0.0
Name: Survived, dtype: float64


Hansen
PassengerId
624     0.0
705     0.0
861     0.0
1201    NaN
Name: Survived, dtype: float64


Harbeck
PassengerId
1265   NaN

Name: Survived, dtype: float64


Harder
PassengerId
371     1.0
1256    NaN
Name: Survived, dtype: float64


Harknett
PassengerId
236    0.0
Name: Survived, dtype: float64


Harmer
PassengerId
786    0.0
Name: Survived, dtype: float64


Harper
PassengerId
53     1.0
646    1.0
721    1.0
849    0.0
Name: Survived, dtype: float64


Harrington
PassengerId
603    0.0
Name: Survived, dtype: float64


Harris
PassengerId
63     0.0
220    0.0
231    1.0
571    1.0
Name: Survived, dtype: float64


Harrison
PassengerId
264    0.0
Name: Survived, dtype: float64


Hart
PassengerId
315    0.0
412    0.0
441    1.0
536    1.0
Name: Survived, dtype: float64


Hassab
PassengerId
682    1.0
Name: Survived, dtype: float64


Hassan
PassengerId
732    0.0
Name: Survived, dtype: float64


Hawksford
PassengerId
741    1.0
Name: Survived, dtype: float64


Hays
PassengerId
311     1.0
821     1.0
1200    NaN
Name: Survived, dtype: float64


Head
PassengerId
1107   NaN
Name: Survived, dtype: float64


Healy
PassengerId
275    1.0
Name: Survived, dtype: float64


Hedman
PassengerId
805    1.0
Name: Survived, dtype: float64


Hee
PassengerId
931   NaN
Name: Survived, dtype: float64


Hegarty
PassengerId
655    0.0
Name: Survived, dtype: float64


Heikkinen
PassengerId
3    1.0
Name: Survived, dtype: float64


Heininen
PassengerId
817    0.0
Name: Survived, dtype: float64


Hellstrom
PassengerId
1061   NaN
Name: Survived, dtype: float64


Hendekovic
PassengerId
314    0.0
Name: Survived, dtype: float64


Henriksson
PassengerId
1304   NaN
Name: Survived, dtype: float64


Henry
PassengerId
265    0.0
Name: Survived, dtype: float64


Herman
PassengerId
616     1.0
755     1.0
1245    NaN
1277    NaN
Name: Survived, dtype: float64


Hewlett
PassengerId
16    1.0
Name: Survived, dtype: float64


Hickman
PassengerId
121    0.0
656    0.0
666    0.0
Name: Survived, dtype: float64


Hilliard
PassengerId
1038   NaN
Name: Survived, dtype: float64


Hiltunen
PassengerId
1130   NaN
Name: Survived, dtype: float64


Hipkins
PassengerId
1270   NaN
Name: Survived, dtype: float64


Hippach
PassengerId
330    1.0
524    1.0
Name: Survived, dtype: float64


Hirvonen
PassengerId
480    1.0
896    NaN
Name: Survived, dtype: float64


Hocking
PassengerId
530     0.0
775     1.0
944     NaN
1121    NaN
Name: Survived, dtype: float64


Hodges
PassengerId
724    0.0
Name: Survived, dtype: float64


Hogeboom
PassengerId
766    1.0
Name: Survived, dtype: float64


Hold
PassengerId
237     0.0
1140    NaN
Name: Survived, dtype: float64


Holm
PassengerId
819    0.0
Name: Survived, dtype: float64


Holthen
PassengerId
997   NaN
Name: Survived, dtype: float64


Holverson
PassengerId
36     0.0
384    1.0
Name: Survived, dtype: float64


Homer
PassengerId
605    1.0
Name: Survived, dtype: float64


Honkanen
PassengerId
217    1.0
Name: Survived, dtype: float64


Hood
PassengerId
73    0.0
Name: Survived, dtype: float64


Horgan
PassengerId
614    0.0
Name: Survived, dtype: float64


Hosono
PassengerId
289    1.0
Name: Survived, dtype: float64


Howard
PassengerId
905    NaN
1105   NaN
1160   NaN
Name: Survived, dtype: float64


Hoyt
PassengerId
225    1.0
487    1.0
794    0.0
Name: Survived, dtype: float64


Humblen
PassengerId
700    0.0
Name: Survived, dtype: float64


Hunt
PassengerId
240    0.0
Name: Survived, dtype: float64


Hyman
PassengerId
1135   NaN
Name: Survived, dtype: float64


Ibrahim Shawah
PassengerId
799    0.0
Name: Survived, dtype: float64


Icard
PassengerId
62    1.0
Name: Survived, dtype: float64


Ilett
PassengerId
85    1.0
Name: Survived, dtype: float64


Ilieff
PassengerId
902   NaN
Name: Survived, dtype: float64


Ilmakangas
PassengerId
730    0.0
910    NaN
Name: Survived, dtype: float64


Isham
PassengerId
178    0.0
Name: Survived, dtype: float64


Ismay
PassengerId
1264   NaN
Name: Survived, dtype: float64


Ivanoff
PassengerId
739    0.0
Name: Survived, dtype: float64


Jacobsohn
PassengerId
218    0.0
601    1.0
Name: Survived, dtype: float64


Jalsevac
PassengerId
456    1.0
Name: Survived, dtype: float64


Jansson
PassengerId
392    1.0
Name: Survived, dtype: float64


Jardin
PassengerId
612    0.0
Name: Survived, dtype: float64


Jarvis
PassengerId
587    0.0
Name: Survived, dtype: float64


Jefferys
PassengerId
923    NaN
1211   NaN
Name: Survived, dtype: float64


Jenkin
PassengerId
71    0.0
Name: Survived, dtype: float64


Jensen
PassengerId
641    0.0
722    0.0
772    0.0
Name: Survived, dtype: float64


Jermyn
PassengerId
369    1.0
Name: Survived, dtype: float64


Jerwan
PassengerId
474    1.0
Name: Survived, dtype: float64


Johannesen-Bratthammer
PassengerId
445    1.0
Name: Survived, dtype: float64


Johanson
PassengerId
203    0.0
Name: Survived, dtype: float64


Johansson
PassengerId
104     0.0
396     0.0
806     0.0
1191    NaN
Name: Survived, dtype: float64


Johansson Palmquist
PassengerId
995   NaN
Name: Survived, dtype: float64


Johnson
PassengerId
9      1.0
173    1.0
303    0.0
598    0.0
720    0.0
870    1.0
Name: Survived, dtype: float64


Johnston
PassengerId
784     0.0
889     0.0
925     NaN
1136    NaN
Name: Survived, dtype: float64


Jones
PassengerId
903   NaN
Name: Survived, dtype: float64


Jonkoff
PassengerId
754    0.0
Name: Survived, dtype: float64


Jonsson
PassengerId
570     1.0
1210    NaN
Name: Survived, dtype: float64


Julian
PassengerId
1247   NaN
Name: Survived, dtype: float64


Jussila
PassengerId
114    0.0
403    0.0
580    1.0
Name: Survived, dtype: float64


Kallio
PassengerId
434    0.0
Name: Survived, dtype: float64


Kalvik
PassengerId
653    0.0
Name: Survived, dtype: float64


Kantor
PassengerId
100    0.0
317    1.0
Name: Survived, dtype: float64


Karaic
PassengerId
607    0.0
Name: Survived, dtype: float64


Karlsson
PassengerId
479     0.0
1087    NaN
1115    NaN
Name: Survived, dtype: float64


Karnes
PassengerId
1138   NaN
Name: Survived, dtype: float64


Karun
PassengerId
692    1.0
932    NaN
Name: Survived, dtype: float64


Kassem
PassengerId
525    0.0
Name: Survived, dtype: float64


Katavelas
PassengerId
927   NaN
Name: Survived, dtype: float64


Keane
PassengerId
304    1.0
791    0.0
908    NaN
Name: Survived, dtype: float64


Keefe
PassengerId
471    0.0
Name: Survived, dtype: float64


Keeping
PassengerId
967   NaN
Name: Survived, dtype: float64


Kelly
PassengerId
301    1.0
574    1.0
697    0.0
707    1.0
892    NaN
Name: Survived, dtype: float64


Kennedy
PassengerId
1016   NaN
Name: Survived, dtype: float64


Kent
PassengerId
488    0.0
Name: Survived, dtype: float64


Kenyon
PassengerId
458     1.0
1137    NaN
Name: Survived, dtype: float64


Khalil
PassengerId
977    NaN
1141   NaN
Name: Survived, dtype: float64


Kiernan
PassengerId
215     0.0
1013    NaN
Name: Survived, dtype: float64


Kilgannon
PassengerId
779    0.0
Name: Survived, dtype: float64


Kimball
PassengerId
622    1.0
936    NaN
Name: Survived, dtype: float64


Kink
PassengerId
70      0.0
1268    NaN
Name: Survived, dtype: float64


Kink-Heilmann
PassengerId
185     1.0
1057    NaN
1286    NaN
Name: Survived, dtype: float64


Kirkland
PassengerId
627    0.0
Name: Survived, dtype: float64


Klaber
PassengerId
712    0.0
Name: Survived, dtype: float64


Klasen
PassengerId
176     0.0
1045    NaN
1155    NaN
Name: Survived, dtype: float64


Knight
PassengerId
733    0.0
Name: Survived, dtype: float64


Kraeff
PassengerId
43    0.0
Name: Survived, dtype: float64


Krekorian
PassengerId
1213   NaN
Name: Survived, dtype: float64


Kreuchen
PassengerId
1216   NaN
Name: Survived, dtype: float64


Kvillner
PassengerId
440    0.0
Name: Survived, dtype: float64


Lahoud
PassengerId
523    0.0
Name: Survived, dtype: float64


Lahtinen
PassengerId
313     0.0
1041    NaN
Name: Survived, dtype: float64


Laitinen
PassengerId
504    0.0
Name: Survived, dtype: float64


Laleff
PassengerId
879    0.0
Name: Survived, dtype: float64


Lam
PassengerId
693    1.0
827    0.0
Name: Survived, dtype: float64


Lamb
PassengerId
976   NaN
Name: Survived, dtype: float64


Landergren
PassengerId
377    1.0
Name: Survived, dtype: float64


Lane
PassengerId
1075   NaN
Name: Survived, dtype: float64


Lang
PassengerId
510    1.0
Name: Survived, dtype: float64


Laroche
PassengerId
44      1.0
609     1.0
686     0.0
1188    NaN
Name: Survived, dtype: float64


Larsson
PassengerId
232    0.0
714    0.0
Name: Survived, dtype: float64


Larsson-Rondberg
PassengerId
1290   NaN
Name: Survived, dtype: float64


LeRoy
PassengerId
538    1.0
Name: Survived, dtype: float64


Leader
PassengerId
797    1.0
Name: Survived, dtype: float64


Leeni
PassengerId
554    1.0
Name: Survived, dtype: float64


Lefebre
PassengerId
177     0.0
230     0.0
410     0.0
486     0.0
1024    NaN
Name: Survived, dtype: float64


Lehmann
PassengerId
390    1.0
Name: Survived, dtype: float64


Leinonen
PassengerId
637    0.0
Name: Survived, dtype: float64


Leitch
PassengerId
597    1.0
Name: Survived, dtype: float64


Lemberopolous
PassengerId
844    0.0
Name: Survived, dtype: float64


Lemore
PassengerId
517    1.0
Name: Survived, dtype: float64


Lennon
PassengerId
47      0.0
1165    NaN
Name: Survived, dtype: float64


Leonard
PassengerId
180    0.0
Name: Survived, dtype: float64


Lester
PassengerId
812    0.0
Name: Survived, dtype: float64


Lesurer
PassengerId
738    1.0
Name: Survived, dtype: float64


Levy
PassengerId
293    0.0
Name: Survived, dtype: float64


Lewy
PassengerId
296    0.0
Name: Survived, dtype: float64


Leyson
PassengerId
235    0.0
Name: Survived, dtype: float64


Lievens
PassengerId
771    0.0
Name: Survived, dtype: float64


Lindahl
PassengerId
247    0.0
Name: Survived, dtype: float64


Lindblom
PassengerId
277    0.0
Name: Survived, dtype: float64


Lindeberg-Lind
PassengerId
1036   NaN
Name: Survived, dtype: float64


Lindell
PassengerId
606     0.0
1251    NaN
Name: Survived, dtype: float64


Lindqvist
PassengerId
665    1.0

Name: Survived, dtype: float64


Lindstrom
PassengerId
1132   NaN
Name: Survived, dtype: float64


Linehan
PassengerId
1125   NaN
Name: Survived, dtype: float64


Lines
PassengerId
854     1.0
1283    NaN
Name: Survived, dtype: float64


Ling
PassengerId
170    0.0
Name: Survived, dtype: float64


Lingane
PassengerId
1085   NaN
Name: Survived, dtype: float64


Lithman
PassengerId
1062   NaN
Name: Survived, dtype: float64


Lobb
PassengerId
254    0.0
618    0.0
Name: Survived, dtype: float64


Lockyer
PassengerId
1249   NaN
Name: Survived, dtype: float64


Long
PassengerId
783    0.0
Name: Survived, dtype: float64


Longley
PassengerId
628    1.0
Name: Survived, dtype: float64


Loring
PassengerId
1190   NaN
Name: Survived, dtype: float64


Louch
PassengerId
433    1.0
922    NaN
Name: Survived, dtype: float64


Lovell
PassengerId
228    0.0
Name: Survived, dtype: float64


Lulic
PassengerId
822    1.0
Name: Survived, dtype: float64


Lundahl
PassengerId
632    0.0
Name: Survived, dtype: float64


Lundin
PassengerId
1049   NaN
Name: Survived, dtype: float64


Lundstrom
PassengerId
1233   NaN
Name: Survived, dtype: float64


Lurette
PassengerId
196    1.0
Name: Survived, dtype: float64


Lyntakoff
PassengerId
1157   NaN
Name: Survived, dtype: float64


MacKay
PassengerId
1147   NaN
Name: Survived, dtype: float64


Mack
PassengerId
773    0.0
Name: Survived, dtype: float64


Madigan
PassengerId
199    1.0
Name: Survived, dtype: float64


Madill
PassengerId
690    1.0
Name: Survived, dtype: float64


Madsen
PassengerId
128    1.0
Name: Survived, dtype: float64


Maenpaa
PassengerId
244    0.0
Name: Survived, dtype: float64


Maguire
PassengerId
1227   NaN
Name: Survived, dtype: float64


Mahon
PassengerId
1108   NaN
1148   NaN
Name: Survived, dtype: float64


Maioni
PassengerId
505    1.0
Name: Survived, dtype: float64


Maisner
PassengerId
465    0.0
Name: Survived, dtype: float64


Makinen
PassengerId
989   NaN
Name: Survived, dtype: float64


Malachard
PassengerId
1193   NaN
Name: Survived, dtype: float64


Mallet
PassengerId
818     0.0
828     1.0
1253    NaN
Name: Survived, dtype: float64


Mamee
PassengerId
37    1.0
Name: Survived, dtype: float64


Mangan
PassengerId
768    0.0
Name: Survived, dtype: float64


Mangiavacchi
PassengerId
946   NaN
Name: Survived, dtype: float64


Mannion
PassengerId
728    1.0
Name: Survived, dtype: float64


Mardirosian
PassengerId
1180   NaN
Name: Survived, dtype: float64


Marechal
PassengerId
840    1.0
Name: Survived, dtype: float64


Markoff
PassengerId
848    0.0
Name: Survived, dtype: float64


Markun
PassengerId
882    0.0
Name: Survived, dtype: float64


Marvin
PassengerId
749     0.0
1074    NaN
Name: Survived, dtype: float64


Masselmani
PassengerId
20    1.0
Name: Survived, dtype: float64


Matinoff
PassengerId
1043   NaN
Name: Survived, dtype: float64


Matthews
PassengerId
419    0.0
Name: Survived, dtype: float64


Maybery
PassengerId
1077   NaN
Name: Survived, dtype: float64


Mayne
PassengerId
711    1.0
Name: Survived, dtype: float64


McCaffry
PassengerId
1162   NaN
Name: Survived, dtype: float64


McCarthy
PassengerId
7       0.0
1196    NaN
Name: Survived, dtype: float64


McCormack
PassengerId
829    1.0
Name: Survived, dtype: float64


McCoy
PassengerId
302     1.0
331     1.0
1019    NaN
Name: Survived, dtype: float64


McCrae
PassengerId
953   NaN
Name: Survived, dtype: float64


McCrie
PassengerId
1072   NaN
Name: Survived, dtype: float64


McDermott
PassengerId
83    1.0
Name: Survived, dtype: float64


McEvoy
PassengerId
719    0.0
Name: Survived, dtype: float64


McGough
PassengerId
513    1.0
Name: Survived, dtype: float64


McGovern
PassengerId
359    1.0
Name: Survived, dtype: float64


McGowan
PassengerId
23      1.0
1098    NaN
Name: Survived, dtype: float64


McKane
PassengerId
398    0.0
Name: Survived, dtype: float64


McMahon
PassengerId
127    0.0
Name: Survived, dtype: float64


McNamee
PassengerId
744     0.0
1275    NaN
Name: Survived, dtype: float64


McNeill
PassengerId
1119   NaN
Name: Survived, dtype: float64


Meanwell
PassengerId
565    0.0
Name: Survived, dtype: float64


Meek
PassengerId
416    0.0
Name: Survived, dtype: float64


Mellinger
PassengerId
273    1.0
447    1.0
Name: Survived, dtype: float64


Mellors
PassengerId
227    1.0
Name: Survived, dtype: float64


Meo
PassengerId
153    0.0
Name: Survived, dtype: float64


Mernagh
PassengerId
197    0.0
Name: Survived, dtype: float64


Meyer
PassengerId
35     0.0
376    1.0
809    0.0
Name: Survived, dtype: float64


Midtsjo
PassengerId
1151   NaN
Name: Survived, dtype: float64


Miles
PassengerId
968   NaN
Name: Survived, dtype: float64


Millet
PassengerId
457    0.0
Name: Survived, dtype: float64


Milling
PassengerId
464    0.0
Name: Survived, dtype: float64


Minahan
PassengerId
246     0.0
413     1.0
1303    NaN
Name: Survived, dtype: float64


Mineff
PassengerId
295    0.0
Name: Survived, dtype: float64


Minkoff
PassengerId
963   NaN
Name: Survived, dtype: float64


Mionoff
PassengerId
106    0.0
Name: Survived, dtype: float64


Mitchell
PassengerId
673    0.0
Name: Survived, dtype: float64


Mitkoff
PassengerId
651    0.0
Name: Survived, dtype: float64


Mock
PassengerId
926   NaN
Name: Survived, dtype: float64


Mockler
PassengerId
360    1.0
Name: Survived, dtype: float64


Moen
PassengerId
76    0.0
Name: Survived, dtype: float64


Molson
PassengerId
493    0.0
Name: Survived, dtype: float64


Montvila
PassengerId
887    0.0
Name: Survived, dtype: float64


Moor
PassengerId
752    1.0
824    1.0
Name: Survived, dtype: float64


Moore
PassengerId
122    0.0
959    NaN
Name: Survived, dtype: float64


Moran
PassengerId
6      0.0
110    1.0
769    0.0
Name: Survived, dtype: float64


Moraweck
PassengerId
318    0.0
Name: Survived, dtype: float64


Morley
PassengerId
462    0.0
706    0.0
Name: Survived, dtype: float64


Morrow
PassengerId
561    0.0
Name: Survived, dtype: float64


Moss
PassengerId
108    1.0
Name: Survived, dtype: float64


Moubarek
PassengerId
66      1.0
710     1.0
1117    NaN
Name: Survived, dtype: float64


Moussa
PassengerId
368    1.0
Name: Survived, dtype: float64


Moutal
PassengerId
78    0.0
Name: Survived, dtype: float64


Mudd
PassengerId
842    0.0
Name: Survived, dtype: float64


Mullens
PassengerId
698    1.0
Name: Survived, dtype: float64


Mulvihill
PassengerId
962   NaN
Name: Survived, dtype: float64


Murdlin
PassengerId
590    0.0
Name: Survived, dtype: float64


Murphy
PassengerId
242     1.0
613     1.0
1092    NaN
Name: Survived, dtype: float64


Myhrman
PassengerId
776    0.0
Name: Survived, dtype: float64


Myles
PassengerId
894   NaN
Name: Survived, dtype: float64


Naidenoff
PassengerId
288    0.0
Name: Survived, dtype: float64


Najib
PassengerId
876    1.0
Name: Survived, dtype: float64


Nakid
PassengerId
382     1.0
623     1.0
1225    NaN
Name: Survived, dtype: float64


Nancarrow
PassengerId
991   NaN
Name: Survived, dtype: float64


Nankoff
PassengerId
740    0.0
Name: Survived, dtype: float64


Nasr
PassengerId
1184   NaN
Name: Survived, dtype: float64


Nasser
PassengerId
10     1.0
123    0.0
Name: Survived, dtype: float64


Natsch
PassengerId
274    0.0
Name: Survived, dtype: float64


Naughton
PassengerId
1302   NaN
Name: Survived, dtype: float64


Navratil
PassengerId
149    0.0
194    1.0
341    1.0
Name: Survived, dtype: float64


Nenkoff
PassengerId
224    0.0
Name: Survived, dtype: float64


Nesson
PassengerId
1214   NaN
Name: Survived, dtype: float64


Newell
PassengerId
216    1.0
394    1.0
660    0.0
Name: Survived, dtype: float64


Newsom
PassengerId
137    1.0
Name: Survived, dtype: float64


Nicholls
PassengerId
146    0.0
Name: Survived, dtype: float64


Nicholson
PassengerId
546    0.0
Name: Survived, dtype: float64


Nicola-Yarred
PassengerId
40     1.0
126    1.0
Name: Survived, dtype: float64


Nieminen
PassengerId
964   NaN
Name: Survived, dtype: float64


Niklasson
PassengerId
1149   NaN
Name: Survived, dtype: float64


Nilsson
PassengerId
316     1.0
1089    NaN
1153    NaN
Name: Survived, dtype: float64


Nirva
PassengerId
762    0.0
Name: Survived, dtype: float64


Niskanen
PassengerId
401    1.0
Name: Survived, dtype: float64


Norman
PassengerId
563    0.0
Name: Survived, dtype: float64


Nosworthy
PassengerId
52    0.0
Name: Survived, dtype: float64


Nourney
PassengerId
1297   NaN
Name: Survived, dtype: float64


Novel
PassengerId
58    0.0
Name: Survived, dtype: float64


Nye
PassengerId
67    1.0
Name: Survived, dtype: float64


Nysten
PassengerId
142    1.0
Name: Survived, dtype: float64


Nysveen
PassengerId
327    0.0
Name: Survived, dtype: float64


O'Brien
PassengerId
187    1.0
365    0.0
553    0.0
Name: Survived, dtype: float64


O'Connell
PassengerId
630    0.0
Name: Survived, dtype: float64


O'Connor
PassengerId
460     0.0
1272    NaN
Name: Survived, dtype: float64


O'Donoghue
PassengerId
980   NaN
Name: Survived, dtype: float64


O'Driscoll
PassengerId
48    1.0
Name: Survived, dtype: float64


O'Dwyer
PassengerId
29    1.0
Name: Survived, dtype: float64


O'Keefe
PassengerId
1250   NaN
Name: Survived, dtype: float64


O'Leary
PassengerId
654    1.0
Name: Survived, dtype: float64


O'Sullivan
PassengerId
503    0.0
Name: Survived, dtype: float64


Odahl
PassengerId
351    0.0
Name: Survived, dtype: float64


Ohman
PassengerId
555    1.0
Name: Survived, dtype: float64


Oliva y Ocana
PassengerId
1306   NaN
Name: Survived, dtype: float64


Olsen
PassengerId
155    0.0
198    0.0
509    0.0
913    NaN
Name: Survived, dtype: float64


Olsson
PassengerId
282     0.0
397     0.0
1192    NaN
Name: Survived, dtype: float64


Olsvigen
PassengerId
683    0.0
Name: Survived, dtype: float64


Omont
PassengerId
1097   NaN
Name: Survived, dtype: float64


Oreskovic
PassengerId
405     0.0
726     0.0
1172    NaN
Name: Survived, dtype: float64


Osen
PassengerId
139    0.0
Name: Survived, dtype: float64


Osman
PassengerId
798    1.0
Name: Survived, dtype: float64


Ostby
PassengerId
55     0.0
918    NaN
Name: Survived, dtype: float64


Otter
PassengerId
796    0.0
Name: Survived, dtype: float64


Ovies y Rodriguez
PassengerId
965   NaN
Name: Survived, dtype: float64


Oxenham
PassengerId
1171   NaN
Name: Survived, dtype: float64


Padro y Manent
PassengerId
548    1.0
Name: Survived, dtype: float64


Pain
PassengerId
399    0.0
Name: Survived, dtype: float64


Pallas y Castello
PassengerId
1261   NaN
Name: Survived, dtype: float64


Palsson
PassengerId
8       0.0
25      0.0
375     0.0
568     0.0
1281    NaN
Name: Survived, dtype: float64


Panula
PassengerId
51     0.0
165    0.0
267    0.0
639    0.0
687    0.0
825    0.0
Name: Survived, dtype: float64


Parker
PassengerId
1168   NaN
Name: Survived, dtype: float64


Parkes
PassengerId
278    0.0
Name: Survived, dtype: float64


Parr
PassengerId
634    0.0
Name: Survived, dtype: float64


Parrish
PassengerId
260    1.0
Name: Survived, dtype: float64


Partner
PassengerId
332    0.0
Name: Survived, dtype: float64


Pasic
PassengerId
837    0.0
Name: Survived, dtype: float64


Patchett
PassengerId
576    0.0
Name: Survived, dtype: float64


Paulner
PassengerId
585    0.0
Name: Survived, dtype: float64


Pavlovic
PassengerId
520    0.0
Name: Survived, dtype: float64


Payne
PassengerId
1282   NaN
Name: Survived, dtype: float64


Peacock
PassengerId
1051   NaN
1173   NaN
1301   NaN
Name: Survived, dtype: float64


Pearce
PassengerId
1055   NaN
Name: Survived, dtype: float64


Pears
PassengerId
152    1.0
337    0.0
Name: Survived, dtype: float64


Pedersen
PassengerId
983   NaN
Name: Survived, dtype: float64


Peduzzi
PassengerId
455    0.0
Name: Survived, dtype: float64


Pekoniemi
PassengerId
116    0.0
Name: Survived, dtype: float64


Peltomaki
PassengerId
937   NaN
Name: Survived, dtype: float64


Penasco y Castellana
PassengerId
308    1.0
506    0.0
Name: Survived, dtype: float64


Pengelly
PassengerId
239    0.0
Name: Survived, dtype: float64


Perkin
PassengerId
213    0.0
Name: Survived, dtype: float64


Pernot
PassengerId
182    0.0
Name: Survived, dtype: float64


Perreault
PassengerId
521    1.0
Name: Survived, dtype: float64


Persson
PassengerId
268    1.0
Name: Survived, dtype: float64


Peruschitz
PassengerId
1056   NaN
Name: Survived, dtype: float64


Peter
PassengerId
129     1.0
534     1.0
1309    NaN
Name: Survived, dtype: float64


Peters
PassengerId
681    0.0
Name: Survived, dtype: float64


Petersen
PassengerId
1021   NaN
Name: Survived, dtype: float64


Petranec
PassengerId
101    0.0
Name: Survived, dtype: float64


Petroff
PassengerId
102    0.0
878    0.0
Name: Survived, dtype: float64


Petterson
PassengerId
443    0.0
Name: Survived, dtype: float64


Pettersson
PassengerId
808    0.0
Name: Survived, dtype: float64


Peuchen
PassengerId
450    1.0
Name: Survived, dtype: float64


Phillips
PassengerId
428     1.0
1078    NaN
1194    NaN
Name: Survived, dtype: float64


Pickard
PassengerId
430    1.0
Name: Survived, dtype: float64


Pinsky
PassengerId
191    1.0
Name: Survived, dtype: float64


Plotcharsky
PassengerId
385    0.0
Name: Survived, dtype: float64


Pokrnic
PassengerId
1161   NaN
1195   NaN
Name: Survived, dtype: float64


Ponesell
PassengerId
801    0.0

Name: Survived, dtype: float64


Portaluppi
PassengerId
1156   NaN
Name: Survived, dtype: float64


Porter
PassengerId
111    0.0
Name: Survived, dtype: float64


Potter
PassengerId
880    1.0
Name: Survived, dtype: float64


Pulbaum
PassengerId
943   NaN
Name: Survived, dtype: float64


Quick
PassengerId
507     1.0
531     1.0
1095    NaN
Name: Survived, dtype: float64


Radeff
PassengerId
657    0.0
Name: Survived, dtype: float64


Rasmussen
PassengerId
1091   NaN
Name: Survived, dtype: float64


Razi
PassengerId
860    0.0
Name: Survived, dtype: float64


Reed
PassengerId
251    0.0
Name: Survived, dtype: float64


Reeves
PassengerId
266    0.0
Name: Survived, dtype: float64


Rekic
PassengerId
109    0.0
Name: Survived, dtype: float64


Renouf
PassengerId
477    0.0
727    1.0
Name: Survived, dtype: float64


Reuchlin
PassengerId
823    0.0
Name: Survived, dtype: float64


Reynaldo
PassengerId
444    1.0
Name: Survived, dtype: float64


Reynolds
PassengerId
1113   NaN
Name: Survived, dtype: float64


Rheims
PassengerId
1182   NaN
Name: Survived, dtype: float64


Rice
PassengerId
17     0.0
172    0.0
279    0.0
788    0.0
886    0.0
947    NaN
Name: Survived, dtype: float64


Richard
PassengerId
136    0.0
Name: Survived, dtype: float64


Richards
PassengerId
408    1.0
438    1.0
832    1.0
Name: Survived, dtype: float64


Ridsdale
PassengerId
527    1.0
Name: Survived, dtype: float64


Riihivouri
PassengerId
1259   NaN
Name: Survived, dtype: float64


Ringhini
PassengerId
374    0.0
Name: Survived, dtype: float64


Rintamaki
PassengerId
591    0.0
Name: Survived, dtype: float64


Riordan
PassengerId
1300   NaN
Name: Survived, dtype: float64


Risien
PassengerId
539     0.0
1274    NaN
Name: Survived, dtype: float64


Robbins
PassengerId
558    0.0
Name: Survived, dtype: float64


Robert
PassengerId
780    1.0
Name: Survived, dtype: float64


Robins
PassengerId
133    0.0
917    NaN
Name: Survived, dtype: float64


Roebling
PassengerId
868    0.0
Name: Survived, dtype: float64


Rogers
PassengerId
46      0.0
1209    NaN
Name: Survived, dtype: float64


Romaine
PassengerId
188    1.0
Name: Survived, dtype: float64


Rommetvedt
PassengerId
668    0.0
Name: Survived, dtype: float64


Rood
PassengerId
186    0.0
Name: Survived, dtype: float64


Rosblom
PassengerId
255     0.0
425     0.0
1176    NaN
Name: Survived, dtype: float64


Rosenbaum
PassengerId
1100   NaN
Name: Survived, dtype: float64


Rosenshine
PassengerId
1219   NaN
Name: Survived, dtype: float64


Ross
PassengerId
584    0.0
Name: Survived, dtype: float64


Roth
PassengerId
928   NaN
Name: Survived, dtype: float64


Rothes
PassengerId
760    1.0
Name: Survived, dtype: float64


Rothschild
PassengerId
514    1.0
912    NaN
Name: Survived, dtype: float64


Rouse
PassengerId
483    0.0
Name: Survived, dtype: float64


Rowe
PassengerId
1215   NaN
Name: Survived, dtype: float64


Rugg
PassengerId
57    1.0
Name: Survived, dtype: float64


Rush
PassengerId
575    0.0
Name: Survived, dtype: float64


Ryan
PassengerId
518    0.0
999    NaN
Name: Survived, dtype: float64


Ryerson
PassengerId
312     1.0
743     1.0
916     NaN
956     NaN
1034    NaN
Name: Survived, dtype: float64


Saad
PassengerId
694    0.0
833    0.0
Name: Survived, dtype: float64


Saade
PassengerId
1166   NaN
Name: Survived, dtype: float64


Saalfeld
PassengerId
299    1.0
Name: Survived, dtype: float64


Sadlier
PassengerId
389    0.0
Name: Survived, dtype: float64


Sadowitz
PassengerId
1204   NaN
Name: Survived, dtype: float64


Saether
PassengerId
1307   NaN
Name: Survived, dtype: float64


Sage
PassengerId
160     0.0
181     0.0
202     0.0
325     0.0
793     0.0
847     0.0
864     0.0
1080    NaN
1234    NaN
1252    NaN
1257    NaN
Name: Survived, dtype: float64


Sagesser
PassengerId
642    1.0
Name: Survived, dtype: float64


Salander
PassengerId
1145   NaN
Name: Survived, dtype: float64


Salkjelsvik
PassengerId
107    1.0
Name: Survived, dtype: float64


Salomon
PassengerId
1083   NaN
Name: Survived, dtype: float64


Salonen
PassengerId
529    0.0
Name: Survived, dtype: float64


Samaan
PassengerId
49      0.0
921     NaN
1189    NaN
Name: Survived, dtype: float64


Sandstrom
PassengerId
11      1.0
395     1.0
1009    NaN
Name: Survived, dtype: float64


Sap
PassengerId
930   NaN
Name: Survived, dtype: float64


Saundercock
PassengerId
13    0.0
Name: Survived, dtype: float64


Sawyer
PassengerId
677    0.0
Name: Survived, dtype: float64


Scanlan
PassengerId
469    0.0
Name: Survived, dtype: float64


Schabert
PassengerId
1014   NaN
Name: Survived, dtype: float64


Schmidt
PassengerId
1029   NaN
Name: Survived, dtype: float64


Sdycoff
PassengerId
411    0.0
Name: Survived, dtype: float64


Sedgwick
PassengerId
344    0.0
Name: Survived, dtype: float64


Serepeca
PassengerId
843    1.0
Name: Survived, dtype: float64


Seward
PassengerId
448    1.0
Name: Survived, dtype: float64


Sharp
PassengerId
552    0.0
Name: Survived, dtype: float64


Shaughnessy
PassengerId
939   NaN
Name: Survived, dtype: float64


Sheerlinck
PassengerId
82    1.0
Name: Survived, dtype: float64


Shellard
PassengerId
498    0.0
Name: Survived, dtype: float64


Shelley
PassengerId
881    1.0
Name: Survived, dtype: float64


Shine
PassengerId
1003   NaN
Name: Survived, dtype: float64


Shorney
PassengerId
96    0.0
Name: Survived, dtype: float64


Shutes
PassengerId
610    1.0
Name: Survived, dtype: float64


Silven
PassengerId
418    1.0
Name: Survived, dtype: float64


Silverthorne
PassengerId
702    1.0
Name: Survived, dtype: float64


Silvey
PassengerId
435    0.0
578    1.0
Name: Survived, dtype: float64


Simmons
PassengerId
564    0.0
Name: Survived, dtype: float64


Simonius-Blumer
PassengerId
648    1.0
Name: Survived, dtype: float64


Sincock
PassengerId
1068   NaN
Name: Survived, dtype: float64


Sinkkonen
PassengerId
748    1.0
Name: Survived, dtype: float64


Sirayanian
PassengerId
61    0.0
Name: Survived, dtype: float64


Sirota
PassengerId
838    0.0
Name: Survived, dtype: float64


Sivic
PassengerId
562    0.0
Name: Survived, dtype: float64


Sivola
PassengerId
174    0.0
Name: Survived, dtype: float64


Sjoblom
PassengerId
787    1.0
Name: Survived, dtype: float64


Sjostedt
PassengerId
233    0.0
Name: Survived, dtype: float64


Skoog
PassengerId
64     0.0
168    0.0
361    0.0
635    0.0
643    0.0
820    0.0
Name: Survived, dtype: float64


Slabenoff
PassengerId
602    0.0
Name: Survived, dtype: float64


Slayter
PassengerId
323    1.0
Name: Survived, dtype: float64


Slemen
PassengerId
813    0.0
Name: Survived, dtype: float64


Slocovski
PassengerId
88    0.0
Name: Survived, dtype: float64


Sloper
PassengerId
24    1.0
Name: Survived, dtype: float64


Smart
PassengerId
468    0.0
Name: Survived, dtype: float64


Smiljanic
PassengerId
159    0.0
Name: Survived, dtype: float64


Smith
PassengerId
175     0.0
261     0.0
285     0.0
347     1.0
942     NaN
1287    NaN
Name: Survived, dtype: float64


Smyth
PassengerId
1052   NaN
Name: Survived, dtype: float64


Snyder
PassengerId
904    NaN
1179   NaN
Name: Survived, dtype: float64


Sobey
PassengerId
135    0.0
Name: Survived, dtype: float64


Soholt
PassengerId
716    0.0
Name: Survived, dtype: float64


Somerton
PassengerId
489    0.0
Name: Survived, dtype: float64


Spector
PassengerId
1305   NaN
Name: Survived, dtype: float64


Spedden
PassengerId
320     1.0
1088    NaN
1134    NaN
Name: Survived, dtype: float64


Spencer
PassengerId
32      1.0
1208    NaN
Name: Survived, dtype: float64


Spinner
PassengerId
1022   NaN
Name: Survived, dtype: float64


Stahelin-Maeglin
PassengerId
633    1.0
Name: Survived, dtype: float64


Staneff
PassengerId
77    0.0
Name: Survived, dtype: float64


Stankovic
PassengerId
286    0.0
Name: Survived, dtype: float64


Stanley
PassengerId
495    0.0
650    1.0
Name: Survived, dtype: float64


Stanton
PassengerId
1002   NaN
Name: Survived, dtype: float64


Stead
PassengerId
253    0.0
Name: Survived, dtype: float64


Stengel
PassengerId
992    NaN
1069   NaN
Name: Survived, dtype: float64


Stephenson
PassengerId
592    1.0
Name: Survived, dtype: float64


Stewart
PassengerId
65    0.0
Name: Survived, dtype: float64


Stokes
PassengerId
1243   NaN
Name: Survived, dtype: float64


Stone
PassengerId
830    1.0
Name: Survived, dtype: float64


Storey
PassengerId
1044   NaN
Name: Survived, dtype: float64


Stoytcheff
PassengerId
567    0.0
Name: Survived, dtype: float64


Strandberg
PassengerId
475    0.0
Name: Survived, dtype: float64


Stranden
PassengerId
745    1.0
Name: Survived, dtype: float64


Straus
PassengerId
973    NaN
1006   NaN
Name: Survived, dtype: float64


Strilic
PassengerId
1255   NaN
Name: Survived, dtype: float64


Strom
PassengerId
206    0.0
252    0.0
Name: Survived, dtype: float64


Sunderland
PassengerId
221    1.0
Name: Survived, dtype: float64


Sundman
PassengerId
415    1.0
Name: Survived, dtype: float64


Sutehall
PassengerId
885    0.0
Name: Survived, dtype: float64


Sutton
PassengerId
626    0.0
Name: Survived, dtype: float64


Svensson
PassengerId
500    0.0
852    0.0
897    NaN
Name: Survived, dtype: float64


Swane
PassengerId
1001   NaN
Name: Survived, dtype: float64


Sweet
PassengerId
1122   NaN
Name: Survived, dtype: float64


Swift
PassengerId
863    1.0
Name: Survived, dtype: float64


Taussig
PassengerId
263    0.0
559    1.0
586    1.0
Name: Survived, dtype: float64


Taylor
PassengerId
670    1.0
713    1.0
Name: Survived, dtype: float64


Tenglin
PassengerId
987   NaN
Name: Survived, dtype: float64


Thayer
PassengerId
551    1.0
582    1.0
699    0.0
Name: Survived, dtype: float64


Theobald
PassengerId
759    0.0
Name: Survived, dtype: float64


Thomas
PassengerId
804     1.0
996     NaN
1008    NaN
1025    NaN
1224    NaN
Name: Survived, dtype: float64


Thomson
PassengerId
1111   NaN
Name: Survived, dtype: float64


Thorne
PassengerId
257    1.0
Name: Survived, dtype: float64


Thorneycroft
PassengerId
432    1.0
640    0.0
Name: Survived, dtype: float64


Tikkanen
PassengerId
383    0.0
Name: Survived, dtype: float64


Tobin
PassengerId
777    0.0
Name: Survived, dtype: float64


Todoroff
PassengerId
30    0.0
Name: Survived, dtype: float64


Tomlin
PassengerId
815    0.0
Name: Survived, dtype: float64


Toomey
PassengerId
459    1.0
Name: Survived, dtype: float64


Torber
PassengerId
604    0.0
Name: Survived, dtype: float64


Torfa
PassengerId
1065   NaN
Name: Survived, dtype: float64


Tornquist
PassengerId
272    1.0
Name: Survived, dtype: float64


Toufik
PassengerId
532    0.0
Name: Survived, dtype: float64


Touma
PassengerId
256     1.0
1053    NaN
1175    NaN
Name: Survived, dtype: float64


Troupiansky
PassengerId
735    0.0

Name: Survived, dtype: float64


Trout
PassengerId
400    1.0
Name: Survived, dtype: float64


Troutt
PassengerId
718    1.0
Name: Survived, dtype: float64


Tucker
PassengerId
960   NaN
Name: Survived, dtype: float64


Turcin
PassengerId
190    0.0
Name: Survived, dtype: float64


Turja
PassengerId
678    1.0
Name: Survived, dtype: float64


Turkula
PassengerId
484    1.0
Name: Survived, dtype: float64


Turpin
PassengerId
42     0.0
118    0.0
Name: Survived, dtype: float64


Uruchurtu
PassengerId
31    0.0
Name: Survived, dtype: float64


Van Impe
PassengerId
420    0.0
596    0.0
800    0.0
Name: Survived, dtype: float64


Van der hoef
PassengerId
171    0.0
Name: Survived, dtype: float64


Vande Velde
PassengerId
753    0.0
Name: Survived, dtype: float64


Vande Walle
PassengerId
201    0.0
Name: Survived, dtype: float64


Vanden Steen
PassengerId
356    0.0
Name: Survived, dtype: float64


Vander Cruyssen
PassengerId
874    0.0
Name: Survived, dtype: float64


Vander Planke
PassengerId
19      0.0
39      0.0
334     0.0
1037    NaN
Name: Survived, dtype: float64


Vartanian
PassengerId
1203   NaN
Name: Survived, dtype: float64


Veal
PassengerId
1081   NaN
Name: Survived, dtype: float64


Vendel
PassengerId
1127   NaN
Name: Survived, dtype: float64


Vestrom
PassengerId
15    0.0
Name: Survived, dtype: float64


Vovk
PassengerId
522    0.0
Name: Survived, dtype: float64


Waelens
PassengerId
81    0.0
Name: Survived, dtype: float64


Walcroft
PassengerId
1241   NaN
Name: Survived, dtype: float64


Walker
PassengerId
516    0.0
Name: Survived, dtype: float64


Ward
PassengerId
259    1.0
Name: Survived, dtype: float64


Ware
PassengerId
1170   NaN
1254   NaN
1298   NaN
1308   NaN
Name: Survived, dtype: float64


Warren
PassengerId
367     1.0
1128    NaN
1159    NaN
Name: Survived, dtype: float64


Watson
PassengerId
675    0.0
Name: Survived, dtype: float64


Watt
PassengerId
162     1.0
1012    NaN
Name: Survived, dtype: float64


Webber
PassengerId
124    1.0
512    0.0
Name: Survived, dtype: float64


Weir
PassengerId
695    0.0
Name: Survived, dtype: float64


Weisz
PassengerId
134    1.0
993    NaN
Name: Survived, dtype: float64


Wells
PassengerId
751     1.0
981     NaN
1154    NaN
Name: Survived, dtype: float64


Wenzel
PassengerId
1146   NaN
Name: Survived, dtype: float64


West
PassengerId
59      1.0
451     0.0
473     1.0
1142    NaN
Name: Survived, dtype: float64


Whabee
PassengerId
1239   NaN
Name: Survived, dtype: float64


Wheadon
PassengerId
34    0.0
Name: Survived, dtype: float64


Wheeler
PassengerId
1276   NaN
Name: Survived, dtype: float64


White
PassengerId
103     0.0
125     0.0
1206    NaN
Name: Survived, dtype: float64


Wick
PassengerId
319     1.0
857     1.0
1109    NaN
Name: Survived, dtype: float64


Widegren
PassengerId
407    0.0
Name: Survived, dtype: float64


Widener
PassengerId
378     0.0
1110    NaN
1299    NaN
Name: Survived, dtype: float64


Wiklund
PassengerId
372     0.0
1124    NaN
Name: Survived, dtype: float64


Wilhelms
PassengerId
674    1.0
Name: Survived, dtype: float64


Wilkes
PassengerId
893   NaN
Name: Survived, dtype: float64


Willard
PassengerId
1123   NaN
Name: Survived, dtype: float64


Willer
PassengerId
1000   NaN
Name: Survived, dtype: float64


Willey
PassengerId
649    0.0
Name: Survived, dtype: float64


Williams
PassengerId
18     1.0
156    0.0
305    0.0
736    0.0
915    NaN
Name: Survived, dtype: float64


Williams-Lambert
PassengerId
352    0.0
Name: Survived, dtype: float64


Wilson
PassengerId
1263   NaN
Name: Survived, dtype: float64


Windelov
PassengerId
492    0.0
Name: Survived, dtype: float64


Wirz
PassengerId
895   NaN
Name: Survived, dtype: float64


Wiseman
PassengerId
426    0.0
Name: Survived, dtype: float64


Wittevrongel
PassengerId
1186   NaN
Name: Survived, dtype: float64


Woolner
PassengerId
56    1.0
Name: Survived, dtype: float64


Wright
PassengerId
556     0.0
1054    NaN
Name: Survived, dtype: float64


Yasbeck
PassengerId
621    0.0
831    1.0
Name: Survived, dtype: float64


Young
PassengerId
326    1.0
Name: Survived, dtype: float64


Youseff
PassengerId
204    0.0
Name: Survived, dtype: float64


Yousif
PassengerId
355    0.0
Name: Survived, dtype: float64


Yousseff
PassengerId
496    0.0
Name: Survived, dtype: float64


Yrois
PassengerId
200    0.0
Name: Survived, dtype: float64


Zabour
PassengerId
112    0.0
241    0.0
Name: Survived, dtype: float64


Zakarian
PassengerId
1028   NaN
1063   NaN
Name: Survived, dtype: float64


Zimmerman
PassengerId
423    0.0
Name: Survived, dtype: float64


de Brito
PassengerId
1228   NaN
Name: Survived, dtype: float64


de Messemaeker
PassengerId
560     1.0
1152    NaN
Name: Survived, dtype: float64


de Mulder
PassengerId
287    1.0
Name: Survived, dtype: float64


de Pelsmaeker
PassengerId
283    0.0
Name: Survived, dtype: float64


del Carlo
PassengerId
362    0.0
907    NaN
Name: Survived, dtype: float64


van Billiard
PassengerId
154     0.0
1084    NaN
1236    NaN
Name: Survived, dtype: float64


van Melkebeke
PassengerId
869    0.0
Name: Survived, dtype: float64

In [9]:
# family에는 LastName이 같은 사람들의 생존 여부가 들어있고 이중에서 WomenChild Column에서 생존자들을 센다.
df['FamilyTotalCount'] = family.transform(lambda s: s[df.IsWomanOrChild].fillna(0).count())

In [10]:
# Replace values where the condition is True.
# df.mask를 이용해서 값이 WomenChild컬럼이 True인곳의 값을 FamilyTotalCount-1값으로 대치한다.
# Family column에서 자기 자신을 빼는거
df['FamilyTotalCount'] = df.mask(df.IsWomanOrChild, df.FamilyTotalCount - 1, axis=0)

In [11]:
df['FamilySurvivedCount'] = family.transform(lambda s: s[df.IsWomanOrChild].fillna(0).sum())

In [12]:
df['FamilySurvivedCount'] = df.mask(df.IsWomanOrChild, df.FamilySurvivedCount - df.Survived.fillna(0), axis=0)

In [13]:
df['FamilySurvivalRate'] = (df.FamilySurvivedCount / df.FamilyTotalCount.replace(0, np.nan))

In [14]:
df['IsSingleTraveler'] = df.FamilyTotalCount == 0

In [15]:
x = pd.concat([
    df.FamilySurvivalRate.fillna(0),
    df.IsSingleTraveler,
    df.Sex.replace({'male': 0, 'female': 1}),
], axis=1)
train_x, test_x = x.loc[train.index], x.loc[test.index]
train_y = df.Survived.loc[train.index]

In [16]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier

In [17]:
dec_clf = tree.DecisionTreeClassifier(random_state=42)
random_forest_clf = RandomForestClassifier(n_estimators=10, random_state=42)
extra_trees_clf = ExtraTreesClassifier(n_estimators=10, random_state=42)
mlp_clf = MLPClassifier(random_state=42)

In [18]:
estimators = [dec_clf,random_forest_clf, extra_trees_clf, mlp_clf]
for estimator in estimators:
    print("훈련 예측기: ", estimator)
    estimator.fit(train_x,train_y)

훈련 예측기:  DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')
훈련 예측기:  RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)
훈련 예측기:  ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)
훈련 예측기:  MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=42, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [19]:
from sklearn.ensemble import VotingClassifier

In [20]:
named_estimators = [
    ("dec_clf", dec_clf),
    ("random_forest_clf", random_forest_clf),
    ("extra_trees_clf", extra_trees_clf),
    ("mlp_clf", mlp_clf),
]

In [21]:
voting_clf = VotingClassifier(named_estimators)

In [22]:
voting_clf.fit(train_x, train_y)

VotingClassifier(estimators=[('dec_clf', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction...=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False))],
         flatten_transform=None, n_jobs=None, voting='hard', weights=None)

In [23]:
voting_clf.voting = "soft"

In [24]:
pred = voting_clf.predict(test_x).astype(int)

In [25]:
pd.DataFrame({'Survived': pred}, index=test.index).reset_index().to_csv('Voted_submission.csv', index=False)